@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 100vh;
    margin-top: 2vw;
    background-image: url(/dist/images/bg-hero.jpg);
    background-size: cover;
    text-align: center;

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 640px;
        margin-top: 50px;

        @media (max-width: 768px) {
            max-width: 100%;
        }

        .title--small {
            margin-bottom: 64px;
        }

        p {
            margin-bottom: 20px;
            margin-top: 30px;
        }

        .teste {
            margin: 10px 0;
            font-size: 10px;
            color: variaveis.$corTextoPrincipal;
            font-family: sans-serif;
            cursor: pointer;
        }

        &__access {
            display: flex;
            justify-content: space-between;


            &__only {
                width: 100%;
                padding: 18px;
                margin: 18px 0;
            }

            .button {
                height: 50px;

                @media (max-width: 768px) {
                    height: auto;
                }
            }
        }
    }
}

span {
    font-size: 23px;
    color: variaveis.$corTextoPrincipal;
}