$corDeFundo: #000000;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corTextoButton: #ffffff;
$corDeFundoBotaoPrimario: rgb(85, 193, 255);
$corDeFundoBotaoSecundario: rgba(65, 225, 16, 0.832);
$corDeFundoBotaoDark: #000;